/* -------------------- CSS BY RENEE -------------------------------------- */
/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/*-------------------- CSS REST ---------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------- ROOT VARIABLES --------------------------------------- */
:root {
    font-family: "Inter", serif;
    font-size: 1.25em;
    --teal:#4CA7C0;
    --purple:#484FB7;
    --lavender:#6B8FE7;
    --yellow:#E9BB57;
    --pink:#D9526F;
    --dark-gray:#1E1E1E;
    --white:#ffffff;
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
@media screen and (min-width: 428px) {
    body {
        background-color:#484FB7;
        padding-bottom: 50px;
    }

    h1 {
        background-color: #6B8FE7;
        font-family: "Kavoon";
        color:#ffffff;
        font-size: 50px;
        text-align: center;
        padding: 55px 35px 35px 35px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    header p {
        background-color: #D9526F;
        color: #ffffff;
        font-style: italic;
        text-align: center;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        padding: 20px 10px 5px 10px;
        font-size: small;
        margin: -5px 15px 0 15px;
        position: relative;
        z-index: -1;
    }

    .largemsg, nav h2 {
        display: none;
        padding: 0;
        margin: 0;
    }

    header li {
        display: none;
    }

    .menu {
        display: block;
        background-color: #E9BB57;
        text-transform: uppercase;
        font-style: italic;
        font-weight: bold;
        font-size: x-large;
        padding: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        width: fit-content;
        position: fixed;
        top: 0;
        right: 0;
    }

    h2 {
        font-family: "Kavoon";
        color: #ffffff;
        padding: 40px 0 5px 10px;
        font-size: xx-large;
    }

    h3 {
        color: #E9BB57;
        font-weight: bold;
        padding-left: 10px;
    }

    .ourservices > section {
        background-color: #ffffff;
        border-radius: 15px;
        padding: 10px;
        margin: 15px 20px 15px 20px;
    }

    h4 {
        color:#484FB7;
        font-weight: bold;
        padding: 5px 5px 5px 10px;
    }

    h4 + p {
        font-size: medium;
        padding: 5px 10px 5px 10px;
        line-height: 25px;
    }

    .whychooseus {
        background-color: #D9526F;
        padding: 20px;
    }

    .whychooseus h2 {
        padding: 0 0 20px 0;
    }

    .whychooseus ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        padding: 0;
    }

    .whychooseus li {
        border-radius: 10px;
        padding: 30px 20px 30px 20px;
        text-align: center;
        font-weight: bold;
        max-width: 250px;
    }

    .approach {
        background-color: #4CA7C0;
    }

    .results {
        background-color: #6B8FE7;
    }

    .environment {
        background-color: #E9BB57;
    }

    .options {
        background-color: #ffffff;
    }

    .prices {
        padding-bottom: 10px;
    }

    .prices h2 {
        padding-top: 10px;
    }

    .prices h4 {
        color: #E9BB57;
        font-size: x-large;
    }

    table {
        display: table;
        margin: auto;
        background-color: #E9BB57;
        font-size: 15px;
    }

    table td, table th {
        padding: 5px;
        padding: 15px;
    }

    table th {
        text-transform: uppercase;
        font-weight: bold;
    }

    table td {
        background-color: #ffffff;  
        border: 2px solid #E9BB57;
    }

    .takestep, .takestep figure {
        background-color: #D9526F;
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

    .takestep h2 {
        padding: 10px 15px 10px 15px;
    }

    .takestep p {
        color:#ffffff;
        padding: 0 15px 10px 15px;
        line-height: 30px;
        font-size: 18px;
    }

    .takestep a {
        background-color: #ffffff;
        border-radius: 15px;
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 5px;
        padding: 25px 40px 25px 40px;
        color:#1E1E1E;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 18px;
        text-decoration: none;
        box-shadow: 6px 6px 8px rgba(0, 0, 0, 5);
    }

    footer {
        background-color: #6B8FE7;
        padding: 40px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        display: flex;
        justify-content: space-evenly;
        font-size: small;
        color: #ffffff;
    }

    footer a {
        color: #ffffff;
    }

}

/*-------------------- MEDIA QUERY (medium) --------------------------------*/
@media screen and (min-width: 768px) {
    .largemsg {
        display: block;
        padding: 30px 20px 5px 20px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 20px;
    }

    .smallmsg {
        display: none;
        padding: 0;
        margin: 0;
    }

    h1 {
        font-size: 70px;
    }

    header p {
        position: relative;
        top: -15px;
    }

    h2 {
        font-size: 40px;
        padding-left: 15px;
    }

    h3 {
        font-size: 30px;
        padding: 15px;
    }

    .ourservices {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .ourservices section {
        padding: 20px 15px 20px 15px;
    }

    h3, .ourservices section:nth-child(5) {
        grid-column: span 2;
    }

    .ourservices section:nth-child(10) {
        grid-column: span 2;
    }

    .ourservices section:nth-child(12) {
        grid-column: span 2;
    }

    .whychooseus ul {
        display: flex;
    }

    .prices {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 10px;
    }

    .prices h2 {
        grid-column: span 2;
        padding-bottom: 15px;
        padding-left: 10px;
    }

    .takestep, .takestep figure {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .takestep figure {
        display: inline-block;
        align-items: flex-start;
    }

    .takestep p, .takestep a {
        display: inline-block;
        width: 40%;
        margin: 0;
        vertical-align: top;
    }
}

/*-------------------- MEDIA QUERY (large) ------------------------------------*/
@media screen and (min-width: 1024px) {
    nav {
        background-color: #E9BB57;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        position: fixed;
        top: 0;
        right: 0;
    }

    nav a {
        color: #1E1E1E;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 15px;
        padding: 10px 20px 10px 20px;
    }

    nav a:hover {
        color:#ffffff;
    }
    
    nav li {
        display: inline-block;
        padding: 10px;
    }

    .menu {
        display: none;
        padding: 0;
        margin: 0;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    .ourservices {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .ourservices h2 {
        width: 100%;
    }

    .ourservices h3 {
        display: flex;
        width: 100%;
    }

    #first, #second, #third, #fourth {
        font-size: 100%;
    }

    .ourservices section {
        flex: 1 1 25%;
        box-sizing: border-box;
        padding: 10px;
        margin-bottom: 20px;
    }

    #personal-development, #career-coaching, #relationship-coaching, #supportive-community, #focused-sessions, #interactive-learning, #flexible-learning {
        max-width: 25%;
    }

    .whychooseus ul {
        display: flex;
        justify-content: space-evenly;
    }

    .whychooseus li {
        margin: 0;
    }

    .prices {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .prices h2 {
        grid-column: span 4;
    }

    .prices h4 {
        font-size: 100%;
    }

    .takestep figure {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        width: 90%;
    }

    .takestep p {
        margin: 0;
        font-size: 15px;
        line-height: 30px;
        width: 50%;
    }

    .takestep a {
        margin: auto;
        margin-bottom: 70px;
        padding: 20px;
        width: 30%;
        min-width: 200px;
        align-items: center;
    }

}

/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/
@media screen and (min-width: 1280px) {
    body {
        margin: 0 100px 0 100px;
    }

}